<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898714888097-qjm7e30ok891fieormu26qfj8nk8bmbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898714888097-qjm7e30ok891fieormu26qfj8nk8bmbf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>898714888097-ltbcc70qkqb6tje59uc0ucnbp3j68eog.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpNYHMTXpNrJj4LDygJ7OXy6ycTfyVREA</string>
	<key>GCM_SENDER_ID</key>
	<string>898714888097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterUi</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-fcd44</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-fcd44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898714888097:ios:28ec411abe4d7677cdcde0</string>
</dict>
</plist>